{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="jumbotron text-center text-white p-5 rounded" style="background-color: #6f42c1;">
        <h1 class="display-4">Welcome to your own money manager app!</h1>
        <p class="lead">Here to help you build capital.</p>
    </div>
</div>

<div class="container mt-5">
    <div class="jumbotron text-center text-white p-5 rounded" style="background-color: #6f42c1;">
        <h1 class="display-10">This app will help you become a better version of yourself in regards of money and investments!</h1>
    </div>

    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card shadow-sm" style="background-color: #6f42c1; color: white;">
                <div class="card-body">
                    <h5 class="card-title">Fast</h5>
                    <p class="card-text">Our app provides you with quick tools to manage your finances efficiently.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow-sm" style="background-color: #6f42c1; color: white;">
                <div class="card-body">
                    <h5 class="card-title">Safe</h5>
                    <p class="card-text">Security is a top priority to keep your financial data safe and private.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow-sm" style="background-color: #6f42c1; color: white;">
                <div class="card-body">
                    <h5 class="card-title">Easy to use</h5>
                    <p class="card-text">Our app is designed to be simple and intuitive for everyone.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}